In [1]:
import pandas as pd
import numpy as np

In [2]:
mail=pd.read_csv("\\Users\\piyus\\Documents\\machine learning\\py-master\\ML\\14_naive_bayes\\spam.csv")
mail.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [3]:
#converting ham and spam to binary variable
mail['Category_']=mail['Category'].apply(lambda x: 1 if x=='spam' else 0 )
mail.head()

  Category                                            Message  Category_
0      ham  Go until jurong point, crazy.. Available only ...          0
1      ham                      Ok lar... Joking wif u oni...          0
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...          1
3      ham  U dun say so early hor... U c already then say...          0
4      ham  Nah I don't think he goes to usf, he lives aro...          0

In [4]:
mail.groupby(['Category']).describe()

         Category_
             count mean  std  min  25%  50%  75%  max
Category
ham         4825.0  0.0  0.0  0.0  0.0  0.0  0.0  0.0
spam         747.0  1.0  0.0  1.0  1.0  1.0  1.0  1.0

In [5]:
# spliting data into train and test set
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(mail.Message,mail.Category_,test_size=0.35)

In [6]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [7]:
from sklearn.pipeline import Pipeline
clf=Pipeline([
    ('vectorizer', CountVectorizer()),
    ('nb', MultinomialNB())
])

In [8]:
clf.fit(X_train,y_train)

Pipeline(steps=[('vectorizer', CountVectorizer()), ('nb', MultinomialNB())])

In [9]:
clf.score(X_test,y_test)

0.9841107124551512

In [10]:
pred=clf.predict(X_test)

In [11]:
pred[1]

0

In [12]:
pred[2]

0